.tarojs-table-wrapper {
  position: relative;
  overflow: auto;
}

.tarojs-table {
  width: max-content;
  min-width: 100%;
  display: table;
}

.tarojs-table-colgroup {
  display: table-column-group;
}

.tarojs-table-colgroup > view {
  display: table-column;
}

.tarojs-table-thead {
  display: table-header-group;
  background: #edf2f7;
}

.tarojs-table-thead > .tarojs-table-row > .tarojs-table-cell {
  color: #3e4f6d;
  background: #edf2f7;
}

.tarojs-table-thead > .tarojs-table-row > .tarojs-table-cell > view {
  display: inline-flex;
  align-items: center;
}

.tarojs-table-fixed-header {
  position: sticky;
  top: 0;
  z-index: 3;
}

.tarojs-table-fixed-column {
  position: sticky;
  z-index: 2;
}

.tarojs-table-fixed-left {
  left: 0;
}

.tarojs-table-fixed-right {
  right: 0;
}

.tarojs-table-fixed-header.tarojs-table-fixed-column {
  z-index: 4;
}

.tarojs-table-fixed-left-last::after {
  right: -60px;
  box-shadow: inset 15px 0 16px -8px rgba(5, 5, 5, 0.06);
  position: absolute;
  top: 0;
  bottom: -1px;
  width: 30px;
  transform: translateX(-100%);
  transition: box-shadow 0.3s;
  content: "";
  pointer-events: none;
  z-index: 1;
}

.tarojs-table-fixed-right-first::after {
  left: 0;
  box-shadow: inset -15px 0 16px -8px rgba(5, 5, 5, 0.06);
  position: absolute;
  top: 0;
  bottom: -1px;
  width: 30px;
  transform: translateX(-100%);
  transition: box-shadow 0.3s;
  content: "";
  pointer-events: none;
  z-index: 1;
}

.tarojs-table-tbody {
  display: table-row-group;
}

.tarojs-table-row {
  display: table-row;
}

.tarojs-table-row:nth-child(even) > .tarojs-table-cell {
  background: #f8f9fa;
}

.tarojs-table-cell {
  display: table-cell;
  padding: 0.5rem;
  box-sizing: border-box;
  background: #fff;
  word-break: break-all;
  vertical-align: middle;
}

.tarojs-table-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.tarojs-table-align-left {
  text-align: left;
}

.tarojs-table-align-center {
  text-align: center;
}

.tarojs-table-align-right {
  text-align: right;
}

.tarojs-table-loading {
  position: relative;
  width: fit-content;
  height: auto;
}

.tarojs-table-loading .tarojs-table-loading-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tarojs-table-loading .tarojs-table-loading-content .tarojs-table-loading-img {
  width: 72px;
  height: auto;
}

.tarojs-table-loading .tarojs-table-loading-content .tarojs-table-loading-text {
  margin-top: 20px;
  color: #909aaa;
}

.tarojs-table-empty {
  height: 400px;
  position: sticky;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #edf2f7;
}

.tarojs-table-empty .tarojs-table-empty-img {
  width: 80px;
  height: auto;
}

.tarojs-table-empty .tarojs-table-empty-text {
  margin-top: 20px;
  color: #d5d5d5;
}

.tarojs-table-sortable {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 8px;
}

.tarojs-table-sortable::before,
.tarojs-table-sortable::after {
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border-width: 8px;
  border-style: solid;
}

.tarojs-table-sortable::before {
  border-color: transparent transparent #c3c3c3 transparent;
}

.tarojs-table-sortable::after {
  border-color: #c3c3c3 transparent transparent transparent;
  margin-top: 6px;
}

.tarojs-table-sortable-ascend::before {
  border-color: transparent transparent #0099cc transparent;
}

.tarojs-table-sortable-descend::after {
  border-color: #0099cc transparent transparent transparent;
}

.tarojs-table-row:nth-child(even) > .tarojs-table-sorted,
.tarojs-table-sorted {
  background: #eefbff;
}
